//- Markup
        !##
        +heading({type:'h1', text:'H1 Header'})
        +heading({type:'h2', text:'H2 Header'})
        +heading({type:'h3', text:'H3 Header'})
        +heading({type:'h4', text:'H4 Header'})
        +heading({type:'h5', text:'H5 Header'})
        +heading({type:'h6', text:'H6 Header'})
        ##!
//- Status.
        !{development}

mixin heading(content)
    -var content         = content       || {};
    - content.type    = content.type  || 'h1';
    - content.class   = content.class || '';
    - content.text    = content.text  || 'Empty Header';

    case content.type
        when "h1"
            h1(class=content.class)
                !=content.text
        when "h2"
            h2(class=content.class)
                !=content.text
        when "h3"
            h3(class=content.class)
                !=content.text
        when "h4"
            h4(class=content.class)
                !=content.text
        when "h5"
            h5(class=content.class)
                !=content.text
        when "h6"
            h6(class=content.class)
                !=content.text