extends ../layouts/one-column

block content

    h3 Account Information

    form(action='/user/#{user.username}/username', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='username') Username:
            input(type='text', name='username', id='username', value=user.username)

        button Change username

    h3 Profile Information

    form(action='/user/#{user.username}/profile?_method=PUT', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='email') Email:
            input(type='text', name='email', id='email', value=user.email)

        p
            label(for='firstName') First Name:
            input(type='text', name='firstName', id='firstName', value=user.firstName)

        p
            label(for='lastName') Last Name:
            input(type='text', name='lastName', id='lastName', value=user.lastName)

        p
            label(for='gender') Gender:
            label
                input(type='radio', checked=user.gender=='male', name='gender', value='male')
                span Male
            label
                input(type='radio', checked=user.gender=='female', name='gender', value='female')
                span Female

        p
            label(for='location') Location:
            input(type='text', name='location', id='location', value=user.location)

        p
            label(for='website') Website:
            input(type='text', name='website', id='website', value=user.website)

        p
            label(for='gravatar') Gravatar:
            img(src=user.picture || 'https://gravatar.com/avatar/?s=200&d=retro', class='profile', width='100', height='100')

        button Update Profile

    h3 Change Password

    form(action='/user/#{user.username}/password?_method=PUT', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='password') New Password:
            input(type='password', name='password', id='password')

        p
            label(for='confirmPassword') Confirm Password:
            input(type='password', name='confirmPassword', id='confirmPassword')

        button Change Password

    h3 Delete Account

    p You can delete your account, but keep in mind this action is irreversible.
    form(action='/user/?_method=DELETE', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        button Delete my account

    h3 Linked Accounts

    if user.facebook
        p: a(href='/auth/unlink/facebook') Unlink your Facebook account
    else
        p: a(href='/auth/facebook') Link your Facebook account

    if user.twitter
        p: a(href='/auth/unlink/twitter') Unlink your Twitter account
    else
        p: a(href='/auth/twitter') Link your Twitter account
