extends ../layouts/one-column

block content

    h3 Account Information

    form(action='/user/#{user.username}/username', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='username') Username:
            input(type='text', name='username', id='username', value=user.username)

        button Change username

    h3 Profile Information

    form(action='/user/#{user.username}/profile?_method=PUT', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='email') Email:
            input(type='text', name='email', id='email', value=user.email)

        p
            label(for='firstName') First Name:
            input(type='text', name='firstName', id='firstName', value=user.firstName)

        p
            label(for='lastName') Last Name:
            input(type='text', name='lastName', id='lastName', value=user.lastName)

        button Update Profile

    h3 Change Password

    form(action='/user/#{user.username}/password?_method=PUT', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='password') New Password:
            input(type='password', name='password', id='password')

        p
            label(for='confirmPassword') Confirm Password:
            input(type='password', name='confirmPassword', id='confirmPassword')

        button Change Password

    h3 Delete Account

    p You can delete your account, but keep in mind this action is irreversible.
    form(action='/user/?_method=DELETE', method='post')
        input(type='hidden', name='_csrf', value=_csrf)

        button Delete my account
