extend base

block template

    block header
        +header()

    //- Provides template level styling
    #template-wrapper.template-wrapper.one-column
        .container
            .row
                .content
                    block content

                    ul.dashboard-list
                        each page, i in pages
                            li.dashboard-list-item
                                a(href="#{page.path}")
                                    | #{page.title}
                    ul.dashboard-list.hide
                        each component, i in components
                            li.dashboard-list-item
                                a(href="#{component.path}")
                                    | #{component.title}
                    ul.dashboard-list.hide
                        each template, i in templates
                            li.dashboard-list-item
                                a(href="#{template.path}")
                                    | #{template.title}
                    ul.dashboard-list.hide
                        each element, i in elements
                            li.dashboard-list-item
                                a(href="#{element.path}")
                                    | #{element.title}
                .sidebar
                    block sidebar
                    p This is the sidebar

    block footer
        .container
            +footer()