//- Dashboard Template
//- Extend from base template to access it's defined blocks (header/footer)
extend base

block template
    //- Define header block from base template
    block header
        //- Header component
        +header()

    //- Dashbaord switcher component
    +dashboard-switcher()

    .container
        //- Provides template level styling
        #template-wrapper.template-wrapper.dashboard-template
            .row
                .content
                    //- Build out pages list
                    ul.dashboard-list
                        each link, i in pages.links
                            li.dashboard-list-item(class="#{link.status}")
                                a(href="#{link.path}")
                                    | #{link.title}
                    //- Build out components list
                    ul.dashboard-list.hide
                        each link, i in components.links
                            li.dashboard-list-item(class="#{link.status}")
                                a(href="#{link.path}")
                                    | #{link.title}
                    //- Build out templates list
                    ul.dashboard-list.hide
                        each link, i in templates.links
                            li.dashboard-list-item(class="#{link.status}")
                                a(href="#{link.path}")
                                    | #{link.title}
                    //- Build out modules list
                    ul.dashboard-list.hide
                        each link, i in modules.links
                            li.dashboard-list-item(class="#{link.status}")
                                a(href="#{link.path}")
                                    | #{link.title}
                .sidebar
                    //- Define sidebar block so pages have access to it when this template is extended
                    block sidebar
        //- Define footer block from base template
        block footer
            //- Footer component
            +footer()