//- Extend from base template to access it's defined blocks (header/footer)
extend base

block template
    //- Define header block from base template
    block header
        +header()

    +dashboard-switcher()

    .container
        //- Provides template level styling
        #template-wrapper.template-wrapper.dashboard-template
            .row
                .content
                    //- Build out pages list
                    ul.dashboard-list
                        each page, i in pages
                            li.dashboard-list-item(class="")
                                a(href="#{page.path}")
                                    | #{page.title}
                    //- Build out components list
                    ul.dashboard-list.hide
                        each component, i in components
                            li.dashboard-list-item(class="")
                                a(href="#{component.path}")
                                    | #{component.title}
                    //- Build out templates list
                    ul.dashboard-list.hide
                        each template, i in templates
                            li.dashboard-list-item(class="")
                                a(href="#{template.path}")
                                    | #{template.title}
                    //- Build out elements list
                    ul.dashboard-list.hide
                        each element, i in elements
                            li.dashboard-list-item(class="")
                                a(href="#{element.path}")
                                    | #{element.title}
                .sidebar
                    //- Define sidebar block so pages have access to it when this template is extended
                    block sidebar
        //- Define footer block from base template
        block footer
            +footer()