mixin link(config)
  - var _config = config || {}
  - var _id = _config.id || ''
  - var _classes = _config.classes || ''
  - var _href = _config.href || '#'
  - var _target = _config.target || ''
  - var _rel = _config.rel || ''
  - var _text = _config.text || 'Default Link'

  a.link(
    id=id,
    href=_href,
    target=_target,
    class=_classes,
    rel=_rel
  )
    if block
      block
    else
      != _text

