<% if (useDashboard) { %>//- [dash:data]
    {
        "status": "development",
        "category": "module",
        "label": "Navbar",
        "link": "generated/navbar.html"
    }
    [/dash]
//- [dash:jade]
    include client/templates/modules/navbar

    +navbar()
    [/dash]<% } %>
mixin navbar()
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    span.ion-cube
                    | Project name
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class=title=='Home'?'active':undefined)
                        a(href='/') Home
                ul.nav.navbar-nav.navbar-right
                    if !user
                        li(class=title=='Login'?'active':undefined)
                            a(href='/login') Login
                        li(class=title=='Create Account'?'active':undefined)
                            a(href='/signup') Create Account
                    else
                        li.dropdown(class=title=='Account Management'?'active':undefined)
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                if user.picture
                                    img.nav-profile-image(src='#{user.picture}', width='30')
                                else
                                    img.nav-profile-image(src='#{user.picture || "https://gravatar.com/avatar/?s=200&d=retro"}', width='30')
                                | #{user.name || user.email || user.id}&nbsp;
                                i.caret
                            ul.dropdown-menu
                                li
                                    a(href='/account')
                                        span.ion-person
                                        | My Account
                                li.divider
                                li
                                    a(href='/logout')
                                        span.ion-log-out
                                        |  Logout