mixin navbar()
    .fixed
        .top-bar(data-topbar)
            ul.title-area
                li.name
                    h1
                        a(href="#") Project name
            section.top-bar-section
                ul.right
                    if !user
                        li(class=title=='Login'?'active':undefined)
                            a(href='/login') Login
                        li(class=title=='Create Account'?'active':undefined)
                            a(href='/signup') Create Account
                    else
                        li.has-dropdown.not-click(class=title=='Account Management'?'active':undefined)
                            a(href='#')
                                if user.picture
                                    img.nav-profile-image(src='#{user.picture}', width='30')
                                else
                                    img.nav-profile-image(src='#{user.picture || "https://gravatar.com/avatar/?s=200&d=retro"}', width='30')
                                | #{user.firstName || user.username} &nbsp;
                                i.caret
                            ul.dropdown
                                li
                                    a(href='/user/#{user.username}')
                                        span.ion-person
                                        | My Account
                                li.divider
                                li
                                    a(href='/logout')
                                        span.ion-log-out
                                        |  Logout
                ul.left
                    li(class=title=='Home'?'active':undefined)
                        a(href='/') Home
